@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@400;500;600;700;900&display=swap');


:root {
    --bg-blue: #c7ddea;
    --bg-yellow: #ffb939;
    --bg-red: #f17949;
    --bg-grey: #a9a19e;
    --bg-ligth-grey:#EBEBEB;
    --bg-dark-grey: #777574;

    --fs-s: 11px;
    --fs-nav: 12px;
    --fs-p: 14px;
    --fs-title: 45px;

    --fw-s: 700;
    --fw-nav: 600;
    --fw-p: 500;
    --fw-title: 900;

    --ff-fira: 'Fira Sans', sans-serif;
    --ff-frank: 'Frank Ruhl Libre', serif;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class], ol[class] {
  padding: 0;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* --------------------------------END CSS RESET---------------------------- */

/* -----------------------------START ABROAD SETTING------------------------ */

body {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}

.wrapper {
    max-width: 1000px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 550px 70px auto;
    grid-template-areas: 
    'hero hero hero hero hero hero'
    'navigation navigation navigation navigation navigation navigation'
    'main main main main main main'
    'instruktion instruktion instruktion instruktion instruktion instruktion'
    'footer footer footer footer footer footer'
    ;
}   

.grid {
    display: grid;
}

.flex {
    display: flex;
}

h2 {
    font-size: var(--fs-title);
    font-family: var(--ff-frank);
    font-weight: var(--fw-title);
}

p {
    font-size: var(--fs-p);
    font-family: var(--ff-fira);
    font-weight: var(--fw-p);
    color: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-family: var(--ff-fira);
    font-size: 12px;
}

/* -------------------------------END ABROAD SETTING-------------------------- */

/* ------------------------------------BUTTONS-------------------------------- */

.button {
    font-family: var(--ff-fira);
    font-size: 10px;
    font-weight: var(--fw-s);
    padding: 1.3em 3.9em;
    align-self: flex-start;
    border: 0;
    border-radius: 100px;
    background-color: white;
    margin-top: 3rem;
    color: rgba(0, 0, 0, 0.8);
}

/* -------------------------------START HERO SECTION-------------------------- */

.hero {
    grid-area: hero;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'hero-main hero-learn'
    'hero-main hero-join'    
    ;
}

.hero__main {
    grid-area: hero-main;
    flex-direction: column;
    background-color: var(--bg-blue);
    position: relative;
    padding: 2.5rem 0 0 5.7rem;
}

.hero__main h1 {
    font-weight: var(--fw-title);
    font-size: var(--fs-title);
    font-family: var(--ff-frank);
}

.hero__main span {
    color: white;
    font-weight: var(--fw-s);
}

.hero__main p {
    max-width: 63%;
    margin: 1rem 0 0 0;
    line-height: 24px;
}

.hero__side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    --fs-title: 32px;
}

.hero__side p {
    color: #00000050;
    font-size: var(--fs-s);
    font-family: var(--ff-fira);
    font-weight: var(--fw-s);
}

.hero__side--learn {
    grid-area: hero-learn;
    background-color: var(--bg-red);
}

.hero__side--join {
    grid-area: hero-join;
    background-color: var(--bg-yellow);
}

.hero__main--img {
    position: absolute;
    bottom: 0;
    right: 1rem;
    width: 60%;
}


/* ---------------------------------END HERO SECTION--------------------------- */

/* --------------------------------START NAV SECTION--------------------------- */

.navigation {
    grid-area: navigation;
    justify-content: center;
    align-items: center;
}

.nav-container {
    max-width: 690px;
    width: 100%;
    justify-content: space-around;
}

.nav-container span {
    color: #000;
}

/* --------------------------------END NAV SECTION--------------------------- */

/* --------------------------------START MAIN SECTION--------------------------- */


.main {
  grid-area: main;
}

.main__top{
  background-color: var(--bg-grey);
  padding: 5rem 7rem 15rem 7rem ;
}

.main__top section{
    font-weight: var(--fw-s);
    flex: 2;
    color: rgba(0, 0, 0, 0.5);
}

.main__top section h2 {
    max-width: 390px;
    color: white;
}

.main__top p {
    flex: 1;
    line-height: 24px;
}

.main__bottom{
  background-color: var(--bg-yellow);
  align-items: center;
  flex-direction: column;
  color: white;
  padding-bottom: 8rem;
}

.main__bottom h2 {
    transform: translateY(-80%);
}

.card-container {
    width: 80%;
    height: 300px;
    justify-content: space-between;
    gap: 1.5rem;
}

.card {
    background-color: white;
    --fs-p: var(--fs-s);
    --fs-title: 16px;
    --fw-title: 700;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(-50%);
    border-radius: 5px;
}

.card h2 {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    margin-top: 10px;
}

.card p {
    max-width: 85%;
}

.main__text {
    max-width: 51%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.card figure{
    transform: translateY(-15%);
    width: 90%;
    height: 50%;
    border-radius: 5px;
    overflow:hidden;
    justify-content: center;
}

.children{
    background-color: var(--bg-blue);
    position: relative;
    align-items: flex-start;
}

.children img{
    transform: scale(0.5);
    position: absolute;
    top: -90px;
}

.just{
    background-color: var(--bg-yellow);
    position: relative;
    align-items: flex-start;
}

.just img{
    transform: scale(0.4);
    position: absolute;
    top: -280px;
}


.old{
    background-color: var(--bg-red);
    position: relative;
    align-items: flex-start;
}

.old img{
    transform: scale(0.5);
    position: absolute;
    top: -123px;
}


/* --------------------------------END MAIN SECTION--------------------------- */

/* ---------------------------START INSTRUCTIONS SECTION---------------------- */

.instruktion {
    grid-area: instruktion;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 340px);
}

.instrukt-square {
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    --fs-p: 17px;
}

.instrukt-square span {
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: var(--ff-frank);
    font-weight: var(--fw-title);
    font-size: 35px;
    color: rgb(0, 0, 0, .4);
}

.square--blue {
    background-color: var(--bg-blue);
}

.square--white {
    background-color: white;
}

.square--grey{
    background-color: var(--bg-grey);
}

.square--red {
    background-color: var(--bg-red);
}


/* --------------------------- END INSTRUCTIONS SECTION---------------------- */

/* ----------------------------- START FOOTER SECTION------------------------ */

.footer{
    grid-area: footer;
    background-color:var(--bg-dark-grey);
    height: 340px;
}
.footer-thin{

    flex-direction: column;
    height: 68px;
    background-color:var(--bg-grey);
    justify-content: center;
    align-items: center;   
}

.footer-thin img{
    width: 100%;    
}

.footer-thin h2{
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--ff-fira);
    font-weight: var(--fw-s);
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* ----------------------------- END FOOTER SECTION------------------------ */


/* ----------------------------- START CONTACT PAGE------------------------- */

.contact-wrapper {
    max-width: 1000px;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px 70px auto;
    grid-template-areas: 
    'c-hero c-hero c-hero c-hero c-hero c-hero'
    'navigation navigation navigation navigation navigation navigation'
    'c-main c-main c-main c-main c-main c-main'
    'D-footer D-footer D-footer D-footer D-footer D-footer'
    'c-footer c-footer c-footer c-footer c-footer c-footer'
    ;
}

/* -------------------------------START HERO SECTION-------------------------- */

.contact-hero {
    grid-area: c-hero;
    background-color: var(--bg-blue);
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

.contact-hero h1 {
    align-self: center;
    font-weight: var(--fw-title);
    font-family: var(--ff-frank);
    font-size: var(--fs-title);
}

.contact-hero figure {
    position: absolute;
    right: 4rem;
    height: 90%;
}

.contact-hero figure img {
height: 100%;
}

/* ---------------------------------END HERO SECTION--------------------------- */

/* --------------------------------START MAIN SECTION--------------------------- */

.contact-main {
    grid-area: c-main;
    background-color: var(--bg-grey);
    grid-template-columns: repeat(2, 1fr);
}

.contact-header {
    padding: 5rem;
}

.contact-header {
    color: white;
}

.contact-input {
    flex-direction: column;
    padding: 5.5rem 40% 5rem 0;
}

.contact-input input {
    border-radius: 2px;
    border: 0;
    padding: 0.3rem;
}

.contact-input button {
    align-self: flex-end;
}

.contact-input p {
    color: white;
    padding: 1.3rem 0 0.5rem 0; 
}

#text-area {
    font-family: var(--ff-fira);
    font-size: var(--fs-p);
    padding: 0.3rem;
    border: 0;
    border-radius: 2px;
}

/* --------------------------------END MAIN SECTION--------------------------- */

/* --------------------------- START DESTINATION SECTION------------------------ */

.contact-destination {
    grid-area: D-footer;
    background-image: url(../img/map-contact.png);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25rem;
}

.destination-card {
    justify-content: center;
}

.destination-card article {
    background-color: var(--bg-yellow);
    width: 68%;
    margin: 2rem 0 11rem 0;
    color: white;
    padding: 1.2rem;
}

.destination-card article p {
    color: white;
    line-height: 1.4rem;
}

.contact-destination figure {
    align-items: center;
}

.contact-destination figure img {
    transform: translateX(-50%);
    scale: 0.8;
}
/* --------------------------- END DESTINATION SECTION------------------------ */

/* ----------------------------- START FOOTER SECTION------------------------- */

.c-footer {
    grid-area: c-footer;
    background-color:var(--bg-dark-grey);
    height: 300px;
}

/* ----------------------------- END FOOTER SECTION--------------------------- */